/* header */

header {
  background-color: #333333;
  height: 50px;
  box-shadow: 0px 1px 1px #ccc;
}

header #header_detail {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  background-color: #333333;

}
header #header_detail li {
  color: #888;
}
header #header_detail li a{
  padding: 15px;
  font-size: 14px;
  color: #eee;
}
header #header_detail li a:hover {
  color: #2ead9b;
}
header #header_detail #h_mobile {
  padding-right: 0;
}
header #header_detail #h_mobile::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 20px;
  margin: 0px 4px -3px 0;
  vertical-align: bottom;
  background: url(../images/sprites.png) -160px -70px;
}

/* nav */

nav {
  height: 130px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 70px;
}

nav #nav_list {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}
nav #nav_list li {
  font-size: 18px;
  cursor: pointer;
  padding: 8px 8px 12px;
}
/* 鼠标样式 */
nav #nav_list li:hover {
  color: #2ead9b;
  border-bottom: 1px solid #2ead9b;
  box-shadow: 1px 1px 1px #ccc;
  border-radius: 4px;
}

nav #nav_search {
  margin-right: 12px;
  position: relative;
}
nav #nav_search input {
  height: 30px;
  outline: none;
  border: none;
  box-shadow: 0 2px 3px #ccc;
  padding-left: 33px;
} 
nav #nav_search #nav_search_img {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  background: url(../images/sprites.png) -79px -69px ;
}

nav #nav_car {
  width: 23px;
  height: 24px;
  background: url(../images/sprites.png) -119px -69px ;
}


/* banner 部分 */

/* 侧边框 */
#banner_aside {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: rgba(0, 0, 0, .8);
  z-index: 2;
}
#banner_aside ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
}
#banner_aside ul li {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 36px;
}
#banner_aside ul li::after {
  content: "";
  position: absolute;
  top: 19px;
  right: 19px;
  width: 6px;
  height: 11px;
  background: url(../images/sprites.png) -40px -111px;
}
#banner_aside ul li:hover {
  background-color:#2ead9b;
}
#banner_aside ul li a {
  font-size: 16px;
  color: #fdfdfd;
}
#banner_aside ul li a span{
  font-size: 14px;
}
#banner_aside ul li a span:first-child {
  padding-left: 14px ;
}
/* 好物 */
#hd {
  height: 114px;
  line-height: 114px;
}

 #hd h2 span{
  font-size: 18px;
  padding-left: 20px;
}
 #hd h2{
  font-size: 28px;
  color: #333;
  font-weight: 400;
}

.more {
  color: #777;
  padding-left: 15px;
}
.more::after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 11px;
  margin-left: 13px;
  background: url(../images/sprites.png) 0px -111px;
}
.more:hover {
  color: #333
}

/* 好物列表 */

#haowu #haowu_list {
  display: flex;
  clear: both;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#haowu #haowu_list li {
  position: relative;
  height: 405px;
  width: 304px;
  background-color: #f0f9f4;
  /* box-shadow: 1px 1px 1px #333; */
  transition: all .3s;
}
#haowu #haowu_list li img {
  width: 100%;
}

#haowu #haowu_list li:hover {
  /* top: -3px; */
  transform: translate(0, -4px);
  box-shadow: 0 3px 8px rgb(0 0 0 /40%);
}

.title {
  padding: 16px;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
}
.price {
  font-size: 20px;
  text-align: center;
  color: red;
}

#sx #hd #tabs {
  float: right;
}
#sx #hd #tabs li {
  float: left;
  margin: 0 15px;
}
#sx #hd #tabs li a{
  padding: 5px;
  background-color: #27ba9b;
}

#sx #sx_goods {
  display: flex;
}
#sx #sx_goods aside {
  margin-right: 6px;
}
#sx #sx_goods section {
  flex: 1;
  height: 610px;
}
#sx #sx_goods section ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 100%;
}
#sx #sx_goods section ul li {
  position: relative;
  width: 240px;
  height: 300px;
  overflow: hidden;
  border: 2px solid transparent;
  transition: all .3s;
}
#sx #sx_goods section ul li img {
  width: 184px;
  height: 184px;
  margin: auto;
}
.info {
  padding: 0 30px;
}
.info .price {
  text-align: left;
  padding: 10px 0; 
  margin-bottom: 10px;
}
.find {
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px 0 15px 0;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: #27ba9b;
  transition: all .4s;
}
.find p{
  cursor: pointer;
}
.find p:first-child {
  font-size: 18px;
  width: 130px;
  margin: auto;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #fff;
}

#sx #sx_goods section ul li:hover {
  border: 2px solid #2ead9b;
}
#sx #sx_goods section ul li:hover .find {
  transform: translateY(-88px);
}